* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

/*? *******************************************************************************
 //   HEADER
/*? ***************************************************************************** */
.container-father-section {
    font-family: 'VT323', monospace;
    color: black;
}

.container-header {
    text-align: center;
    background-color: rgb(199, 199, 224);

}

.container-header div {
    display: inline;
}

.main-title {
    padding: 0.5em;
    font-size: 2em;
    letter-spacing: 0.2em;
    position: relative;
}

.header-icon {
    font-size: 1em;
    margin: 1.5em;
    padding: 1em 1em;
    top: 0;
    left: 0;
    transition: all .15s linear 0s;
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: rgb(218, 233, 240);
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    border: solid black 0.2em;
    box-shadow: -6px 6px 0 #0d87a0;
    text-decoration: none;
    color: black;

}

a:active.header-icon {
    top: 6px;
    left: -6px;
    box-shadow: none;
}

/*? *******************************************************************************
 //   MAIN
/*? *******************************************************************************/
.container-main {
    height: 100vh;
    background-color: hsl(60, 54%, 88%);
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;

}


.master-box {
    margin: 0px;
    width: 100%;
    max-width: 610px;
    height: 610px;
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;

}

.text-box-white {
    padding: 1em 4em;
    width: 100%;
    background: white;
    color: black;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.master-box-img {
    flex-grow: 1;
    background-size: cover;
}

.top-text {
    top: 0px;
}

.bottom-text {
    bottom: 0px;
}

/*? ******************************************************************************
  // DOWNLOAD BUTTON
/*? *******************************************************************************/
.container-dowload-button {
    text-align: center;
    padding: 2em;
    background-color: rgb(241, 241, 208);
    width: 100%;
}



.a-dowload-button {
    padding: 1.5em;
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
    letter-spacing: 0.3em;
    background-color: white;
    border: solid black 0.2em;
    top: 0;
    left: 0;
    transition: all .15s linear 0s;
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    background-color: rgb(218, 233, 240);
    text-transform: uppercase;
    color: black;
    letter-spacing: 1px;
    border: solid black 0.2em;
    box-shadow: -8px 8px 0 #0d87a0;
    text-decoration: none;
}

.a-dowload-button {
    position: relative;
}

a:active.a-dowload-button {
    top: 6px;
    left: -6px;
    box-shadow: none;
}


/*? *******************************************************************************
  //  ASIDE
/*? *******************************************************************************/

.container-right-text,
.container-right-image {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(218, 233, 240);
    border: solid 3px #0d87a0;
    padding: 0.5em 2em 0em 1em;
    width: 25%;
    height: 100%;
    font-size: 0.9em;

}

.container-btn-x {
    display: flex;

}

.title-aside {
    text-align: center;
}


.btn-x-text,
.btn-x-image,
.reset-button {
    padding: 0.4em;
    background-color: rgb(199, 199, 224);
    border: solid black 0.2em;
    cursor: pointer;
    appearance: none;
}


.title-text-aside {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.style-click:hover,
.style-click:focus {
    background-color: #458491;
    filter: brightness(130%);
}


/*? *******************************************************************************
  //  ASIDE IMAGE
/*? *******************************************************************************/

.input-style {
    background-color: rgb(199, 199, 224);
    border: none;
    height: 2.3em;
    width: 100%;
    padding: 0.5em 1em;
    cursor: pointer;
    color:black;
}

.container-fondo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    color:black;
}

.range-input {
    width: 100%;
    height: 0.7em;
    border-radius: 1em;
    background-color: rgb(199, 199, 224);
    appearance: none;
    margin-top: 0.5em;
    cursor: pointer;
    accent-color: #0d87a0;
    margin-bottom: 0.5em;

}

.range-input:hover {
    background-color: #458491;
    filter: brightness(130%);
}

.reset-button {
    color: black;
    text-decoration: none;
}

.btn-reset {
    margin-top: 3em;

}

.edit-color {
    margin: 0.1em;
    width: 1.7em;
    appearance: none;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    margin-left: 0.5em;
}

.edit-color::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.input-edit-color {
    background-color: rgb(199, 199, 224);
    width: 100%;
    position: relative;

}

.span-fondo {
    position: absolute;
    bottom: 25%;
    margin-left: 0.5em;
}

.blend-modes {
    font-family: 'VT323', monospace;
    padding-left: 1em;
    margin-left: 0.5em;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-size: .6em;
    background-position: calc(100% - 1.3em) center;
    background-repeat: no-repeat;
}

.blend-modes::-ms-expand {
    display: none;
}


/*? *******************************************************************************
  //  ASIDE TEXT 
/*? *******************************************************************************/

.aligment-style,
.font-color,
.font-style {
    margin-top: 0.5em;
}

.aligment-style,
.font-style {
    background-color: rgb(199, 199, 224);
    border: none;
    padding: 0.5em;
}

.fa-align-left:before {
    content: '\f036';
}

.fa-align-center:before {
    content: '\f037';
}

.fa-align-right:before {
    content: '\f038';
}

.font-alignment {
    width: 70%;
    padding-right: 1em;
    padding-left: 1em;
    appearance: none;
}


.container-color {
    width: 9em;
    display: flex;
    display: inline-block;
}


.input-interlineado,
.input-font {
    margin-top: 0.5em;
    padding-left: 1em;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-size: .6em;
    background-position: calc(100% - 1.3em) center;
    background-repeat: no-repeat;
    color: black;
}

/*? *******************************************************************************
  // MODO OSCURO
/*? *******************************************************************************/

.modo-oscuro {
    color: white;
    background-color: rgb(29, 2, 45);
}

.modo-oscuro-header-icon {
    background-color: rgb(10, 54, 54);
    box-shadow: -6px 6px 0 #495169;
    color: white;
    transition: .3s ease all;
}

.modo-oscuro-main {
    background-color: hsl(240, 25%, 22%);
    transition: .3s ease all;
}

.modo-oscuro-aside {
    background: rgb(21, 13, 47);
    color: white;
    border: solid black 0.3em;
    box-shadow: -5px 10px 10px rgb(33, 32, 39);
    transition: .3s ease all;
}

.modo-oscuro-aside-input {
    color: white;
    background-color: #2e3e65;
    accent-color: #0b6e7e;
}

.modo-oscuro-aside-input:hover,
.modo-oscuro-aside-input:focus {
    background-color: #033039;
    filter: brightness(150%);
}


/*? *******************************************************************************
  // NECESSARY CODE JS
/*? *******************************************************************************/


.oculto {
    display: none;

}

.oculto-text-box {
    background: none;
    padding: 0;
    position: absolute;
}


/*? *******************************************************************************
 //  MEDIA QUERYS
/*? *******************************************************************************/
@media screen and (min-width:1201px){
    .container-right-image {
        display: block;
    }

    .btn-x-text,
    .btn-x-image {
        display: none;
    }
}

@media screen and (min-width:820px) and (max-width:1200px) {

    .container-right-text,
    .container-right-image {
        width: 30%;
        overflow: auto;

    }

    .container-btn-x,
    .btn-x-text {
        position: fixed;
        right: 5px;
    }

    .font-alignment {
        width: 100%;

    }

    .master-box {
        max-width: 400px;
        height: 400px;
    }

    .text-box-white {
        padding: 1em 0.4em;
        width: 100%;
        font-size: 30px;
        font-weight: 500;
    }
}

@media screen and (min-width:480px) and (max-width:819px) {

    .master-box {
        max-width: 400px;
        height: 400px;
    }

    .container-btn-x,
    .btn-x-text {
        position: fixed;
        right: 5px;
    }

    .text-box-white {
        padding: 0.7em 0.7em;
        font-size: 30px;
        font-weight: 400;
    }

    .container-right-text,
    .container-right-image {
        width: 45%;
        font-size: 0.7em;
        overflow: auto;
    }

    .font-alignment {
        width: 100%;

    }

}


@media screen and (min-width:200px) and (max-width:479px) {

    .main-title {
        padding: 0.1em;
        font-size: 1em;
        letter-spacing: 0em;

    }

    .header-icon {
        font-size: 0.7em;
        margin: 1em;
        padding: 0.2em 0.2em;
        background-color: rgb(218, 233, 240);
        box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
        border: solid black 0.1em;
        box-shadow: -2px 2px 0 #0d87a0;
        text-decoration: none;
        color: black;
    }

    .a-dowload-button {
        padding: 0.5em;
        font-size: 0.7em;
        border: solid black 0.1m;
        border: solid black 0.1em;
        box-shadow: -4px 4px 0 #0d87a0;

    }

    .master-box {
        max-width: 255px;
        height: 255px;
    }

    .text-box-white {
        padding: 1em 1em;
        font-size: 20px;
        font-weight: 300;
    }

    .container-right-text,
    .container-right-image {
        width: 100%;
        font-size: 0.6em;
        overflow: auto;

    }
    .container-btn-x,
    .btn-x-text {
        position: fixed;
        right: 5px;
    }

    .range-input {
        width: 100%;
        height: 0.7em;
        border-radius: 1em;
        margin-top: 0.5em;
        margin-bottom: 0.3em;
        accent-color: #0d87a0;
    }



    .font-alignment {
        width: 100%;

    }

    .aligment-style,
    .font-style {
        padding: 0.4em;
    }
}